.error-indicator{
    color: #ff4465;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    width: 500px;
    margin: 30px auto;

}

.ant-alert-with-description .ant-alert-message{
    color: #ff4465;
}

.error-indicator .icon{
    width: 100px;
}
