.movie-list {
    margin-top: 34px;
    padding: 5px;
    list-style: none;
}

@media (max-width: 540px) {
  .ant-row.movie-list {
        row-gap: 19px;
    }
}

.movie-spinner{
    margin: 300px auto;
    width: 40px;
    display: block;
}

.ant-alert-info {
    width: 300px;
    margin: 30px auto;
}